.button{
    height: 30px;
    width: 30px;
    background: #c2c2c2;
    border-style: solid;
    border-right-color: #999;
    border-bottom-color: #999;
    border-left-color: white;
    border-top-color: white;
    text-align: center;
    
}
.open{
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: #7b7b7b;
    border-top-color: #7b7b7b;
    font-size: 17px;
}

